Repository iMunshi/revite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier --write"],
  "*.{md,html,css,json}": ["prettier --write"]
}

fix: lint issue
  .eslintrc.js
  .gitignore copy
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.tsx
  src/main.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

feat: add stylelint
  .husky/pre-push
  .npmrc
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update npmrc and scripts
  .husky/pre-push
  .npmrc
  package.json
Due: prettier --write

fix: update hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: add Counter component
  index.html
  src/App.tsx
  src/components/Counter.tsx
Due: eslint --max-warnings=0, prettier --write

fix: update pre-push bash script
  .husky/pre-push
Due: none

doc: update README with project support list
  README.md
Due: prettier --write

refactor: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: enable https for local dev server
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

doc: update README with todos
  README.md
Due: prettier --write

feat: add text gradient using tailwind css
  src/components/Counter.tsx
Due: eslint --max-warnings=0, prettier --write
